@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    max-width: 1440px;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;

}

a, ul, li {
    text-decoration: none;
    list-style-type: none;
    color: #070707;
}

.wrapper {
    margin: 0 235px 202px 235px;
}

.header__container {
    width: 100%;
    padding: 27.5px 0;
    border-bottom: 1px solid #828282;
}

.header__nav {}

.header__items {
    display: flex;
    justify-content: center;
    color: #828282;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.02em;
}

.header__item {
    margin-right: 40px;
    color: #828282;
}

li span {
    color: #070707;
}

/* ============================================ */

.main__title {
    width: 300px;
    height: 60px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    color: #070707;
    margin-bottom: 50px;
}

.main__image {
    width: 100%;
}

/* ================================================= */

.sub__title {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
}

.text__main {
    margin: 0 auto;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    padding-bottom: 30px;
}

.first__text {
    width: 480px;
}

.second__text {
    width: 406px;
}

.third__text {
    width: 321px;
}

.skill__title {
    padding-bottom: 20px;
}

.skill__text {
    padding-bottom: 50px;
}

.skills__items {
    display: flex;
    justify-content: center;
    gap: 38px;
    margin-bottom: 100px;
}

.skills__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 170px;
    height: 230px;
    padding: 0;
}

.skills__icon {
    width: 70px;
    height: 70px;
}

.sub__text {
    margin-top: 25px;
    width: 80px;
    height: 40px;
    text-align: center;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: #828282;
}

.text__ae {
    width: 90px;
    height: 38px;
}

.raiting {
    width: 170px;
    height: 26px;
    margin-top: 60px;
}

/* ============================================= */

.portfolio__title {
    padding: 0;
    margin-top: 100px;
    margin-bottom: 50px;
}

.portfolio__image {
    width: 100%;
    margin-bottom: 40px;
}

.fashion__text {
    margin: 0 auto;
    width: 200px;
    height: 50px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 24.5px;
    text-decoration-line: underline;
    text-decoration-color: #828282;
}

/* =============================================== */

.reebok__image {
    width: 100%;
    margin-bottom: 40px;
    margin-top: 70px;
}

.reebok__text {
    margin: 0 auto;
    width: 200px;
    height: 24px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 24.5px;
    text-decoration-line: underline;
    text-decoration-color: #828282;
}

/* ======================================== */

.braun__image {
    width: 100%;
    margin-top: 70px;
    margin-bottom: 40px;
}

.braun__text {
    margin: 0 auto;
    width: 260px;
    height: 24px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 24.5px;
    margin-bottom: 100px;
    text-decoration-line: underline;
    text-decoration-color: #828282;
}

/* ==================================================== */

.footer__title {
    padding-bottom: 20px;
}

.footer__text {
    width: 280px;
    height: 46px;
    padding-bottom: 60px;
}

.footer__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 180px;
    height: 44px;
    background: #070707;
    border: 1px solid #070707;
    border-radius: 22px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
}

.footer__button:hover{
    cursor: pointer;
}

.footer__icons {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 50px;
    margin-top: 30px;
    width: 310px;
    height: 40px;
}

.footer__icon {
    width: 40px;
    height: 40px;
}

.footer__text2 {
    width: 200px;
    height: 60px;
    margin: 100px auto 60px auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #828282;
}